.menu {
    display: flex;
    justify-content: center;
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  
    @media screen and (max-width: 479px) {
      padding-left: 15px;
      padding-right: 15px;
    }
}

.portfolio__button {
    display: inline-block;
    min-width: 73px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--team-background-color);
    padding: 6px 22px;
    font-family: Roboto,
        sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--primary-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--white-text-color);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 3px 1px rgba(0, 0, 0, 0.1);
        }
}

.portfolio-btn__item {
    &:not(:last-child) {
        margin-right: 8px;
   }
}

.portfolio-btn__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    grid-gap: 8px;
    grid-row-gap: 15px;

    @media (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
      
    @media (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.portfolio--active.button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

/*.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}*/

.portfolio__list {
    display: grid;
    grid-template-columns: auto;
    gap: 30px 30px;
    align-items: stretch;
    justify-content: center;
  
    @media screen and (min-width: 480px) {
      grid-template-columns: auto;
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: auto auto;
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: auto auto auto;
    }
}

.portfolio__link {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16),
                0 4px 4px rgba(0, 0, 0, 0.06);
    }
}

.portfolio__item {
    /*margin: 15px;
    flex-basis: calc((100% - 3 * 30px) / 3);*/

    &:hover {
        transform: translateY(0%);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16),
                0 4px 4px rgba(0, 0, 0, 0.06);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
}

.portfolio__item:hover 
.portfolio__explanation {
    transform: translateY(0);
}

.portfolio-overlay__item {
    position: relative;
    overflow: hidden;
}

.portfolio__explanation {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--overlay-bg-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay__text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white-text-color);

    &:hover,
    &:focus {
        transform: translateY(0%);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}


.portfolio-list__title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
}

.portfolio-list__text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.9;
    margin-top: 4px;
    color: var(--secondary-text-color);
}

.portfolio__frames {
    border: 1px solid var(--border-portfolio-color);
    border-top: transparent;
    padding: 20px 24px;
}