$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
    --white-text-color: #ffffff;
    --accent-color: #2196f3;
    --black-logo-color: #000000;
    --footer-text-color: #ffffff99;
    --white-background-color: #ffffff;
    --hero-background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --border-header-color: #ececec;
    --border-portfolio-color: #eeeeee;
    --icon-mf-color: #AFB1B8;
    --icon-bg-color: #FFFFFF1A;
    --work-bg-color: rgba(47, 48, 58, 0.8);
    --overlay-bg-color: rgba(33, 150, 243, 0.9);
    --items: 1;
    --indent: 30px;
}